@import url("https://use.typekit.net/ake7ydh.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #242329;
}

nav {
    padding: 3em;
    position: fixed;
    z-index: 9999;
}

.svg-container {
    position: absolute;
    inset: 0;
    z-index: 20;
}

#mainSvg {
    overflow: visible;
    display: flex;   
    align-items: center;
    justify-content: center;
}
#Layer_2-2 {
            cursor: none; 
            transform-origin: center center;
}
#hand-group { cursor: pointer; }





#sec1 {
    height: 100vh;
    position: relative;
    background: #242329;
    overflow: hidden;
}

.sec1_text {
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 23dvh; 
    z-index: 5;
    padding: 5em;
}

.sec1_text ul {
    width: max-content;
        display: flex;
    flex-direction: row;
    gap: 2rem; 
}
.sec1_text li {
    color: #434343;
    background: #313036;
    font-size: 80px;
    padding: 1rem 2rem;
    border-radius: 10em;
    white-space: nowrap; 
}

.sec1_text_center li {
    background-color: #242329;
    color: #F7FFCF;
    font-family: "subway-berlin-sc", sans-serif;
    letter-spacing: 120%;
    display: flex;   
    align-items: center;
    justify-content: center;
}












#sec2, #sec3, #sec4, #sec5 {
    width: 100%;
    height: 100vh; 
    position: relative;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}



#sec3 .sec3_svg {
    position: absolute;
    inset: 0;            
    z-index: 1;        
    pointer-events: none; 
}

#svgBox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#mainSvg2, #mainSvg3 {
    width: 90%;
    height: 90%;
    display: block; 
}

#_hand-group {
    cursor: pointer;
}

.sec2_text, .sec3_text {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.sec2_text ul, .sec3_text ul {
    width: max-content;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 50vw; 
}



.sec2_text ul li, .sec3_text ul li {
    font-size: 50px;
    padding: 1rem 2rem;
    white-space: nowrap; 
}



.sec2_text li:nth-child(1), .sec3_text li:nth-child(1) {
    color: #F7FFCF;
    font-family: "subway-berlin-sc", sans-serif;
    letter-spacing: 3px;
    display: flex;   
    align-items: center;
    justify-content: center;
    flex-direction:row;
}


.sec2_text li:nth-child(2), .sec3_text li:nth-child(2) {
    color: #d0d0d0;
    letter-spacing: 120%;
    display: flex;   
    text-align: right;  
    font-size: 24px;
        display: flex;   
    align-items: center;
    justify-content: center;
    flex-direction:row;
}




.sec3-menu {
    width: 850px;
    height: 200px;
    border-radius: 30px;
    background-color: rgb(60, 60, 61);
    position: absolute;
    margin-top: 400px;
    z-index: 9999;
}
.sec3-menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    margin-top: 20px;
}

.sec3-menu img {
    width: 130px;
    height: auto;
    z-index: 9999;
    cursor: grab; 
    user-select: none;
    -webkit-user-drag: element;
    transition: transform 0.2s;
}
.sec3-menu img:active {
    cursor: grabbing; 
    transform: scale(1.1); 
}
.sec3-menu ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.carrot img {
    width: 80px;
    height: auto;
}


